$background-light: #EBEDEE;
$light-font: #000000;
$background-dark: #1F3242;
$dark-font: #F0F0F0;
$standard-font: 'Noto Sans JP';
$fallback-font: sans-serif;
$title-size: 2rem;
$button-color: #F0F0F0;

html {
    background-color: $background-dark;
    color: $dark-font;
}
.title {
    font-family: $standard-font, $fallback-font;
    letter-spacing: 1.5px;
    font-size: $title-size;
}
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.button {
    padding: 2px 10px;
    border-radius: 4px;
    color: $dark-font;
    font-family: $standard-font, $fallback-font;
    text-decoration: none;
    border: 2px solid $button-color;
    letter-spacing: 0.4px;
}
.button:hover {
    background-color: $button-color;
    color: $light-font;
}
.text1, .text2 {
    line-height: 1;
    font-family: $standard-font, $fallback-font;
    max-width: 800px;
}
.text2 {
    margin-top: -10px;
    padding-bottom: 20px;
}
.sub-title {
    font-family: $standard-font, $fallback-font;
    margin-top: -30px;
    letter-spacing: 0.5px;
    padding-bottom: 30px;
}
.sub-title2 {
    margin-top: -15px;
    padding-bottom: 45px;
    color: $dark-font;
    text-decoration: none;
}
.sub-title2:hover {
    text-decoration: underline;
}