.body {
    font-family:sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.blocks {
    margin-top:2em;
}
/*.blocks a {
    text-decoration:none;
    color:#000;
    padding:50px 10px;
    text-align:center;
    border:1px solid #000;
    border-radius:5px;
}
.blocks a:hover {
    text-decoration:underline;
}*/